#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

#center-wrapper {
    position: relative;
    margin: 100px auto;
    display: flex;
    width: 100%;
    
}

#left-main-container {
    position: relative;
    margin: 0px auto;
    margin-right: 20px;


}
#sub-user-container {
    position: relative;
    margin: 0px auto;
    margin-bottom: 0px;
    height: 270px;
    width: 420px;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    border-radius: 10px;

}

#user-info {
    position: relative;
    margin: 0px auto;
    display: flex;
}

.label-placement {
    position: relative;
    display: flex;
    flex-direction: column;
}

.bottom-label {
    position: relative;
    margin-top: 0px;
   
}

label {
    
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    float: left;
}



#nom-display {
    position: relative;
    width: 130px;
    margin: 10px auto;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#prenom-display {
    position: relative;
    width: 170px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#email-display {
    position: relative;
    width: 310px;
    margin: 10px auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.login-form {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    background: white;
    padding: 15px;
    outline: none;
    color: black;
    text-align: center;
    box-shadow: 1px 3px 6px -3px rgba(0,0,0,0.75);
}

.disconnect-edit {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.disconnect-edit:hover {
    color: #2fcc76;
}

#disconnect-edit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#edit-container {
    position: relative;
    margin: 50px auto;
    margin-bottom: 0px;
    height: 270px;
    width: 420px;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    border-radius: 10px;

}

#sub-edit-container {
    position: relative;
    margin: auto;
    width: 100%;
}

#btn {
    position: relative;
    margin: 20px auto;
    width: 80%;
    display: flex;
}

.fas {
    position: relative;
    margin: auto;
    font-size: 20px;

}

#button-title {
    position: relative;
    margin: auto;
    margin-left: 30px;
    text-align: center;
}

#annonce-main-container {
    position: relative;
    margin: auto;
    height: 600px;
    width: 60vw;
    overflow-y: scroll;
    margin-bottom: 0px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
    max-width: 70vw;
    background-color: #151515;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

#annonce-container {
    position: relative;
    margin: 0px auto;
    border-radius: 10px;
    height: 250px;
    width: 370px;
    background-color: rgb(255, 255, 255);
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

#annonce-container:hover {
    transform: scale(1.1);
}

#image-container {
    position: relative;
    width: 225px;
    height: 100%;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#image {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    height: 90%;
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: scale-down;
}

#info-container {
    position: relative;
    margin: auto;
    margin-left: 10px;
    width: 225px;
    display: flex;
    flex-direction: column;
}

#title-container {
    position: relative;
    font-size: 25px;
    margin: 10px auto;
}

#description-container {
    position: relative;
    text-align: justify;
    font-size: 18px;
    margin: 10px auto;
    margin-left: 10px;
}

#price-container {
    position: relative;
    text-align: center;
    font-size: 18px;
    margin: 10px auto;
    margin-left: 10px;
}

#userInfo-container {
    position: relative;
    font-size: 18px;
    margin: 10px auto;
    margin-left: 10px;
}

.bold-annonce {
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

#vertical-bar {
    position: relative;
    width: 2px;
    height: 80%;
    margin: auto;
    background-color: black;
}