#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}
#sub-user-container {
    position: relative;
    margin: auto;
    margin-left: 100px;
    height: 270px;
    width: 420px;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    border-radius: 10px;

}

#user-info {
    position: relative;
    margin: 0px auto;
    display: flex;
}

.label-placement {
    position: relative;
    display: flex;
    flex-direction: column;
}

.bottom-label {
    position: relative;
    margin-top: 0px;
   
}

label {
    
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    float: left;
}



#nom-display {
    position: relative;
    width: 130px;
    margin: 10px auto;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#prenom-display {
    position: relative;
    width: 170px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#email-display {
    position: relative;
    width: 310px;
    margin: 10px auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.login-form {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    background: white;
    padding: 15px;
    outline: none;
    color: black;
    text-align: center;
    box-shadow: 1px 3px 6px -3px rgba(0,0,0,0.75);
}

.disconnect-edit {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.disconnect-edit:hover {
    color: #2fcc76;
}

#disconnect-edit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}